.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* overflow-wrap: break-word; */
}

.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #334155;
    padding-bottom: 5px;
    
}

.toolbar h2{
    color: #F8FAFC;
    font-size: 30px;
    font-weight: 700;
}

.note{
    color:#F8FAFC
}

.list{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:0;
    margin:0;
}

.listItem{

    background:#1E293B;
    border:1px solid #334155;
    border-radius:16px;
    padding:10px;
    display:flex;
    flex-direction:column;
    gap:20px;
}

.listItem:hover{
    border-color:#22C55E;
}

.linkTitle{
    color:white;
    font-size:20px;
    font-weight:700;
    margin:0;
}

.linkUrl{
    color:#38BDF8;
    text-decoration:none;
    word-break:break-all;
    text-decoration:underline;
}

.linkDesc{
    color:#CBD5E1;
    line-height:4px;
    margin:0;
}

.linkTag{
    color:white;
    font-size:14px;
    font-weight:600;
}
