*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0F172A;
    
}

.app{
    min-height:100vh;
    max-width:1200px;
    margin:auto;
    padding:40px 20px;
}

.topSec{
    text-align:center;
    margin-bottom:50px;
}
.titleContainer{
    margin-left:35%;
    display:flex;
    align-items:center;
    gap:10px;
}

.icon{
    font-size:40px;
    color:#3d6790;
    border-radius:12px;
}

.topSec h1{
    color:white;
    font-size:3rem;
    font-weight:bold;
}

.topSec p{
    color:#CBD5E1;
    margin-top:12px;
    font-size:1.1rem;
}